aws_region        = "us-east-1"
project_name      = "task-manager"
environment       = "dev"
vpc_cidr          = "10.0.0.0/16"
az_count          = 2
db_name           = "task_manager"
db_username       = "task_manager"
db_password       = "CHANGE_ME"
db_instance_class = "db.t3.micro"
redis_node_type   = "cache.t3.micro"
django_secret_key = "CHANGE_ME"
backend_image     = ""
frontend_image    = ""
