aws_region        = "eu-west-2"
project_name      = "task-manager"
environment       = "dev"
vpc_cidr          = "10.0.0.0/16"
az_count          = 2
db_name           = "task_manager"
db_username       = "task_manager"
db_password       = "task_manager"
db_instance_class = "db.t3.micro"
redis_node_type   = "cache.t3.micro"
django_secret_key = "ALPHi9MUuXeTxEQCAggnLd1MdiizNT6UThReWfulQ3ouAkhEK-MrtbUKaegNZ0doxAQ"
backend_image     = ""
github_repo       = "https://github.com/YENG-SEBASTIAN/devops-task-manager.git"
github_token      = "ghp_CHANGE_ME"
certificate_arn   = ""
